@import '~@angular/cdk/text-field/text-field';

// Set custom-autofill inputs to have no background and red text.
input.custom-autofill {
  @include cdk-text-field-autofill-color(transparent, red);
}

:host {
  display: block;
  // min-height: 100%;
  // background-color: #fafafa;
}

.page-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  // text-align: center;
  margin: 16px 0;
}

.sign-in-button {
  flex: 1;
  // height: 48px;
  letter-spacing: 1.25px;

  svg {
    // margin-right: 12px;

  }
}

.login-form-container {
  position: relative;
  width: 500px;
  height: 550px;
  padding: 48px;
  overflow: hidden;
  // background-color: var(--card-background);
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--border-color);
}

.social-login-info {
  display: grid;
  margin: 24px 0;
  grid-gap: 4px;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.login-form {

}

.form-body {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

h4 {
  margin: 0;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: var(--medium-emphasis-color);
  margin: 0;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.or {
  height: 1px;
  background: var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 64px 0 0;
}

.or span {
  font-size: 14px;
  line-height: 20px;
  padding: 0 24px;
  background: #fff;
  color: var(--medium-emphasis-color);
}

.row-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;

  button {
    margin-left: -8px;
    // letter-spacing: 1.25px;
  }
}

.social-login-info {
  display: grid;
  grid-gap: 8px;

  button {
    height: 48px;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 24px;
  }
}

.social-login-button {
  display: block;

  text-transform: uppercase;
  letter-spacing: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  svg {
    display: inline-flex;
    fill: #000000;
    // margin-right: 12px;
  }
}

.row-github {
  /* height: 48px;
   display: flex;
   align-items: center;*/
  // background-color: #24292e;
  // color: #fff;
  justify-content: center;
  cursor: pointer;

  .logo {
    display: inline-flex;
  }

}

.row-facebook {
  svg, path {
    fill: #000000;
  }
}

@media (max-width: 599px) {
  mat-card {
    box-shadow: none !important;
  }

  .page-center {
    display: flex;
    place-items: inherit;
  }
}

.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: rgba(0, 0, 0, .12);
}

.button-link-row {
  .mat-button {
    margin-left: -8px;
    // letter-spacing: 1.25px;
  }
}

.mat-button {
  letter-spacing: 0;
}
