:host {
  display: block;
}

.headline-3 {
  font-family: Archivo, sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  margin: 32px 0;
}

.items {
  display: flex;
  flex-direction: column;
  grid-gap: 48px 24px;
}
