<button mat-icon-button class="top-right-btn notification-button" aria-label="Bildirimler" hidden
        matTooltip="Bildirimler"
        #notificationElement="cdkOverlayOrigin"
        cdkOverlayOrigin
        (click)="openNotifications()">
    <mat-icon fontSet="material-icons-outlined" matBadge="{{notificationCount$ | async}}"
              [matBadgeHidden]="(notificationCount$ | async) === 0">notifications
    </mat-icon>
</button>

<!--
<ng-template
  cdkConnectedOverlay
  (overlayOutsideClick)="outsideClick()"
  [cdkConnectedOverlayScrollStrategy]="blockScrollStrategy"
  [cdkConnectedOverlayOpen]="popupOpened"
  [cdkConnectedOverlayOrigin]="notificationElement">
  <app-notification-list-popup></app-notification-list-popup>
</ng-template>
-->


<ng-template
  cdkConnectedOverlay
  (overlayOutsideClick)="outsideClick()"
  [cdkConnectedOverlayScrollStrategy]="blockScrollStrategy"
  [cdkConnectedOverlayOpen]="popupOpened"
  [cdkConnectedOverlayOrigin]="notificationElement">
  <app-notification-list-popup></app-notification-list-popup>
</ng-template>


