:host {
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.bottom-bar {
  height: 56px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.items {
  height: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  display: grid;
  place-content: center;
  place-items: center;
}

span {
  font-size: 12px;
}

.active {
  color: #6200EE;

  ::ng-deep svg {
    fill: #6200EE;
  }
}
