:host {
  display: block;
  // padding: 0 160px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.item {
  display: flex;
  grid-gap: 16px;
  // font-family: Archivo, sans-serif;
}

.item-right-top {
  display: flex;
  align-items: center;
  color: var(--medium-emphasis-color);

  * {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
}

.bracket {
  margin: 0 4px;
}



.author-img {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.item-right {
  flex-grow: 1;
}

.master-span {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
  border-radius: 4px;
  padding: 0 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #6200ee;
  color: #6200ee;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.25px;
  line-height: 12px;
  text-transform: uppercase;
  margin: 4px 0;
}

.spinner {
  display: grid;
  place-items: center;
  padding: 24px 0;
}

mat-divider {
  display: block;
  margin: 16px 0;
}

.check-title {
  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
  border-radius: 8px;
  padding: 0 4px;
  margin: 0 8px;
  background: #6200EE;
  color: #fff;
}

.check-icon {
  line-height: 1;
  font-size: 12px;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #018786;
  color: #fff;
  border-radius: 50%;
  font-weight: 400;
  margin: 0 8px;
}

@media (prefers-color-scheme: dark) {
  .check-icon {
    background: #03DAC5;
    color: black;
  }
}

mat-chip-list {
  display: flex;
  flex-direction: row;
}

.tag-list {
  display: flex;
  padding-right: 4px;
  margin-top: 12px;
  //margin-left: -4px;
}

::ng-deep .mat-chip-list-wrapper {
  // margin: 0 !important;
}

mat-chip {
  // min-height: 28px;
  // padding: 7px 10px;
  // background-color: #fff !important;
  // border: 1px solid rgba(0, 0, 0, .12);
  // font-size: 13px;
  // letter-spacing: 0;
}

.mat-basic-chip {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  // background-color: transparent;
  margin: 0 4px 0 0;
  // height: 24px;
  // font-size: 12px;
  border-radius: 34px;
  padding: 4px 0;
  // text-transform: lowercase;
}

@media (prefers-color-scheme: light) {
/*  .mat-chip-selected {
    background: #f3ebfe !important;
    color: #6200ee !important;
    // border: 1px solid rgba(0, 0, 0, .12) !important;
  }*/

  .mat-chip-selected {
/*    background: #6200ee !important;
    color: #fff !important;*/
    background: #f3ebfe !important;
    color: #6200ee !important;
    border: 1px solid rgba(0, 0, 0, .12) !important;
  }
}

@media (prefers-color-scheme: dark) {
  .mat-chip-selected {
    background: rgba(187, 134, 252, 0.12) !important;
    color: #fff !important;
    // border: 1px solid rgba(0, 0, 0, .12) !important;
  }
}

@media (max-width: 599px) {
  .item {
    padding-left: 24px;
  }

  .subtitle-1 {
    padding-right: 24px;
  }

  .item-right {

  }

  .filter {

    mat-chip-list {
      display: flex;
      margin: 20px 0 0;
      overflow: auto;
    }

    mat-chip-list a:hover {
      text-decoration: none;
    }

    mat-chip-list a {
      cursor: pointer;
    }

    ::ng-deep .mat-chip-list-wrapper {
      flex-wrap: nowrap !important;
      margin: 0 !important;
      padding: 0 8px;
    }

    ::ng-deep .mat-chip-list::-webkit-scrollbar {
      display: none;
    }

    mat-chip {
      white-space: nowrap;
    }
  }
}

@media (prefers-color-scheme: light) {
  mat-chip {
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, .12);
    /*  font-size: 10px;
      text-transform: uppercase;
      min-height: 24px;
      padding: 7px 8px;*/
  }
}

@media (prefers-color-scheme: dark) {
  mat-chip {
    background-color: #ffffff12 !important;
    border: 1px solid rgba(255, 255, 255, 0.12);
    /*  font-size: 10px;
      text-transform: uppercase;
      min-height: 24px;
      padding: 7px 8px;*/
  }
}
