<div class="list-item">


    <a title="{{question.user.displayName}}" routerLink="/user/{{question.user.id}}">
      <img class="author-image" src="{{question.user.picture}}" alt="{{question.user.displayName}}" width="40" height="40" loading="lazy">
    </a>


  <div class="item-right">
    <div class="flex-cl">
      <a routerLink="/question/{{question.id}}">
        <div class="subtitle-1">{{question.title}}</div>
      </a>
      <mat-icon class="check-icon" *ngIf="question.id === 20">done</mat-icon>
      <!--      <span class="check-title" *ngIf="question.id === 20">CEVAPLANDI</span>-->
    </div>

    <div class="item-right-top">
      <div class="username" matTooltip="{{question.user.displayName}}" matTooltipPosition="above">
        <a routerLink="/user/{{question.user.id}}">{{question.user.displayName}}</a>
      </div>
      <span class="bracket">—</span>
      <div class="time">
        <time>{{question.creationTime | timeAgo}}</time>
      </div>

      <!-- <div class="master-span" *ngIf="question.id === 20">
         <span>CEVAPLANDI</span>
       </div>-->
    </div>

    <div class="tag-list">
      <mat-chip-list aria-label="Fish selection">

        <mat-chip [selected]="tag.selected" *ngFor="let tag of question.tags">
          <a routerLink="/tag/{{tag.id}}">
            <span>{{tag.title}}</span>
          </a>
        </mat-chip>

        <mat-chip *ngIf="!question.tags">test</mat-chip>
      </mat-chip-list>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>
