<app-sort-by></app-sort-by>

<!--  <mat-chip-list>
    <mat-chip color="primary">CEVAPSIZ</mat-chip>
  </mat-chip-list>-->

<!--  <button class="outlined-menu-button" mat-button [matMenuTriggerFor]="typeMenu">-->
<!--    <span>Filtre: Hepsi</span>-->
<!--    <id-arrow-drop-down-icon></id-arrow-drop-down-icon>-->
<!--  </button>-->

<!--  <mat-menu #typeMenu="matMenu" class="text-only-menu mat-elevation-z2 filtre-menu">
    <div class="checkbox-item" (click)="onClicked($event)">
      <mat-checkbox color="primary" checked="true">Cevapsız</mat-checkbox>
    </div>
    <div class="checkbox-item" (click)="onClicked($event)">
      <mat-checkbox color="primary">Doğru cevap almamış</mat-checkbox>
    </div>
    <div class="checkbox-item" (click)="onClicked($event)">
      <mat-checkbox color="primary" class="last-child">Çözülmüş</mat-checkbox>
    </div>
  </mat-menu>-->

<mat-checkbox color="primary" checked="true">Cevapsız soruları göster</mat-checkbox>
<!--  <mat-checkbox color="primary">Doğru cevap almamış</mat-checkbox>-->
<!--  <mat-checkbox color="primary" class="last-child">Çözülmüş</mat-checkbox>-->


<!--<button mat-button class="outlined-menu-button" [matMenuTriggerFor]="languageMenu">
  <span>Language</span>
</button>

<mat-menu #languageMenu="matMenu" class="text-only-menu">
  <div *ngFor="let item of languageItems">
    <mat-checkbox>{{item.label}}</mat-checkbox>
  </div>
&lt;!&ndash;  <button mat-menu-item  *ngFor="let item of languageItems; let index = index" #menuItem (click)="onLanguageMenuItemClicked(menuItem, index)">{{item.label}}</button>&ndash;&gt;
</mat-menu>-->

