<app-sort-by></app-sort-by>

<app-filter-by></app-filter-by>

<span class="info-text">Tagged with: </span>
<mat-checkbox color="primary" checked="true">My watched tags</mat-checkbox>

<!--<button mat-button class="outlined-menu-button" [matMenuTriggerFor]="languageMenu">
  <span>Language</span>
</button>

<mat-menu #languageMenu="matMenu" class="text-only-menu">
  <div *ngFor="let item of languageItems">
    <mat-checkbox>{{item.label}}</mat-checkbox>
  </div>
&lt;!&ndash;  <button mat-menu-item  *ngFor="let item of languageItems; let index = index" #menuItem (click)="onLanguageMenuItemClicked(menuItem, index)">{{item.label}}</button>&ndash;&gt;
</mat-menu>-->

