<div class="filter">
  <button mat-button class="outlined-menu-button" aria-label="Open sort by order interactions menu" [matMenuTriggerFor]="sortMenu">
    <span>Sıralama ölçütü: {{items[selectedIndex].label}}</span>
    <!-- <mat-icon>arrow_drop_up</mat-icon>-->
    <id-arrow-drop-down-icon></id-arrow-drop-down-icon>
  </button>

  <mat-checkbox color="primary" checked="true">Cevapsız</mat-checkbox>
  <mat-checkbox color="primary" checked="true" class="last-child">Doğru cevap almamış</mat-checkbox>
</div>

<!--<mat-checkbox color="primary">No accepted answer</mat-checkbox>-->
<!--
<mat-checkbox color="primary">Yalnızca cevapsız soruları göster</mat-checkbox>
-->

<mat-menu #sortMenu="matMenu" class="text-only-menu">
  <button mat-menu-item  *ngFor="let item of items; let index = index" #menuItem (click)="onItemClick(menuItem, index)">{{item.label}}</button>
</mat-menu>

<!--<button mat-button class="outlined-menu-button" [matMenuTriggerFor]="languageMenu">
  <span>Language</span>
</button>

<mat-menu #languageMenu="matMenu" class="text-only-menu">
  <div *ngFor="let item of languageItems">
    <mat-checkbox>{{item.label}}</mat-checkbox>
  </div>
&lt;!&ndash;  <button mat-menu-item  *ngFor="let item of languageItems; let index = index" #menuItem (click)="onLanguageMenuItemClicked(menuItem, index)">{{item.label}}</button>&ndash;&gt;
</mat-menu>-->

