:host {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

:host::-webkit-scrollbar {
  display: none;
}

.filter {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

mat-checkbox {
  font-size: 14px;
  line-height: 20px;
  margin-right: 24px;
}

.filter-menu-button-content {
  display: flex;
  align-items: center;
}

.outlined-menu-button {
  display: inline-flex;
  height: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: none;
  padding: 0 8px !important;
  margin-left: -8px;
  // letter-spacing: .25px;

  id-arrow-drop-down-icon {
    margin-right: -8px;
  }
}

@media (max-width: 599px) {
  :host {
    // padding: 24px 0 12px 0;
    overflow: auto;
    padding-left: 24px;
    padding-right: 24px;

    .outlined-menu-button {
      margin-left: 16px;
    }

    .last-child {
      padding-right: 16px;
    }

    button {
      min-width: auto !important;
    }
  }
}
