<mat-sidenav-container>
  <mat-sidenav position="start" #drawer [autoFocus]="false" fixedInViewport (closedStart)="sidenavClosedStart()"
               (openedStart)="sidenavOpenedStart()">
    <qa-nav-drawer></qa-nav-drawer>
  </mat-sidenav>
  <mat-sidenav position="end" [mode]="mode" #sheet [autoFocus]="false" fixedInViewport
               (openedStart)="drawerOpenedStart()" (closedStart)="drawerClosedStart()"
               [fixedTopGap]="mode == 'side' ? 64 : 0">
    <qa-side-sheet></qa-side-sheet>
  </mat-sidenav>

  <qa-top-bar (openDrawer)="drawer.toggle()" (openSheet)="sheet.toggle()"></qa-top-bar>
<!--
  <div id="main">
    <div class="my-content example-sidenav-content">
            <router-outlet></router-outlet>
      &lt;!&ndash; <a mat-fab color="primary" class="fixed-fab-btn" routerLink="/create">
         <mat-icon>add</mat-icon>
         <span>SORU SOR</span>
       </a>&ndash;&gt;
      &lt;!&ndash;<app-bottom-bar></app-bottom-bar>&ndash;&gt;
    </div>
  </div>-->

  <main>
    <div id="content">
      <div class="my-content">
        <router-outlet></router-outlet>

        <div class="fixed-fab-btn">
          <a mat-fab color="accent" routerLink="/create" class="extended-fab">
            <qa-create-icon></qa-create-icon>
            <span>Oluştur</span>
          </a>
        </div>

        <!--<qa-bottom-bar></qa-bottom-bar>-->
      </div>
    </div>
  </main>


</mat-sidenav-container>
