<mat-sidenav-container>
  <mat-sidenav position="start" #drawer [autoFocus]="false" fixedInViewport (closedStart)="sidenavClosedStart()"
               (openedStart)="sidenavOpenedStart()">
    <id-nav-drawer></id-nav-drawer>
  </mat-sidenav>
  <mat-sidenav position="end" [mode]="mode" #sheet [autoFocus]="false" fixedInViewport
               (openedStart)="drawerOpenedStart()" (closedStart)="drawerClosedStart()"
               [fixedTopGap]="mode == 'side' ? 64 : 0">
    <id-side-sheet></id-side-sheet>
  </mat-sidenav>

  <id-top-bar (openDrawer)="drawer.toggle()" (openSheet)="sheet.toggle()"></id-top-bar>
<!--
  <div id="main">
    <div class="my-content example-sidenav-content">
            <router-outlet></router-outlet>
      &lt;!&ndash; <a mat-fab color="primary" class="fixed-fab-btn" routerLink="/create">
         <mat-icon>add</mat-icon>
         <span>SORU SOR</span>
       </a>&ndash;&gt;
      &lt;!&ndash;<app-bottom-bar></app-bottom-bar>&ndash;&gt;
    </div>
  </div>-->

  <main>
    <div id="content">
      <div class="my-content">
        <router-outlet></router-outlet>

<!--        <div class="fixed-chip">-->
<!--          <mat-chip class="mat-elevation-z4">New Releases</mat-chip>-->
<!--        </div>-->

      <!--  <div class="fixed-fab-btn">
          <a mat-fab color="accent" routerLink="/create" class="extended-fab" id="extended-fab">
            <id-create-icon></id-create-icon>
            <span>OLUŞTUR</span>
          </a>
&lt;!&ndash;          <a mat-fab>&ndash;&gt;
&lt;!&ndash;            <id-create-icon></id-create-icon>&ndash;&gt;
&lt;!&ndash;          </a>&ndash;&gt;
        </div>-->

        <!--<qa-bottom-bar></qa-bottom-bar>-->
      </div>
    </div>
  </main>


</mat-sidenav-container>
