:host {
  display: block;
}

.item {
  position: relative;
  background-color: #1e1e1e;
  // border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.tag-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.question-count {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0;
  color: rgba(0, 0, 0, .6);
}

.conversion-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--medium-emphasis-color);
}

.count-text {
  font-size: 34px;
  line-height: 36px;
  margin-top: 16px;
  margin-bottom: 12px;
}

.body2 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(255, 255, 255, 0.6);
}

button {
  margin: 16px 0 0 -8px;
  letter-spacing: 1.25px;
}

.following {
  background: rgba(187, 134, 252, 0.08);
}

.mat-icon {
  background-color: #BB86FC;
  color: black;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
}
