<div class='popup-page one-dp'>
  <div class='one-border'>
    <header>
      <div>
        <div class='title'>{{user.displayName}}</div>
        <div class='subtitle'>{{user.email}}</div>
      </div>
    </header>
    <section>
      <mat-nav-list>
        <a mat-list-item routerLink='/settings'>
          <mat-icon fontSet='material-icons-outlined'>settings</mat-icon>
          <span>Hesap & ayarlar</span>
        </a>
        <mat-list-item (click)='logout()'>
          <mat-icon>exit_to_app</mat-icon>
          <span>Oturumu kapat</span>
        </mat-list-item>
      </mat-nav-list>
    </section>
  </div>
</div>
