:host {
  display: block;
}

h4 {
  font-family: Archivo, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}


.comment-list {
  display: grid;
  grid-gap: 24px;
}

.item {
  font-family: Archivo, sans-serif;
  display: flex;
  align-items: flex-start;
}

.author-img {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.author-info {
  font-size: 13px;
  line-height: 20px;
}

.comment {
  font-family: Archivo, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
