<div itemprop="mainEntity" itemscope itemtype="https://schema.org/Question">
  <div class="layout-container">
    <header>

      <h1 itemprop="name">{{question.title}}</h1>

      <div itemprop="text" class="description">
        <time itemprop="dateCreated" [dateTime]="question.creationTime">{{question.creationTime | date}}</time>
        <span class="bracket">-</span>
        <span>{{question.viewCount}} görüntülenme</span>
      </div>

      <div itemprop="author" itemscope itemtype="https://schema.org/Person">
        <div class="author">
          <img itemprop="image" class="author-img" src="{{question.user.picture}}" alt="{{question.user.displayName}}">
          <div class="author-info">
            <a routerLink="/user/{{question.user.id}}">
              <div itemprop="name" class="author-name">{{question.user.displayName}}</div>
            </a>
            <div class="author-job">Web Geliştirici</div>
          </div>
        </div>
      </div>


    </header>
  </div>

  <id-question-content [content]="question.content"></id-question-content>

  <id-question-answers></id-question-answers>

</div>

<id-answer-form></id-answer-form>
