:host {
  display: block;
}

h1 {
  font-size: 34px;
  line-height: 44px;
  font-weight: 400;
  margin: 32px 0 0;
}

.description {
  font-size: 16px;
  line-height: 24px;
  color: var(--medium-emphasis-color);
  margin: 8px 0;
  letter-spacing: 0.15px;
}

.bracket {
  margin: 0 8px;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.author-img {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.author-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.author-job {
  font-size: 13px;
  line-height: 16px;
  color: var(--medium-emphasis-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 599px) {
  :host {
    padding: 0 24px;
  }

  h1 {
   // font-size: 24px;
   //  line-height: 32px;
    // margin: 24px 0;
  }
}
