:host {
  display: block;
}

header {
  // padding: 24px 0;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  line-height: 72px;
  letter-spacing: -.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  // padding-bottom: 16px;
  margin-bottom: 16px;
}

.title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .15px;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--medium-emphasis-color);
}

img {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.bracket {
  margin: 0 4px;
}

.answered-box {
  display: flex;
}

mat-divider {
  margin: 16px 0;
}
