<header>
  <h4 class="headline-4">Sorularım</h4>
</header>
<!--<qa-home-question-list-item *ngFor="let question of questions$ | async" [question]="question"></qa-home-question-list-item>-->

<div class="grid-list">
  <div class="grid-item" *ngFor="let q of questions$ | async">
    <div class="title">
      <a routerLink="/question/{{q.id}}">{{q.title}}</a>
    </div>
    <div class="subtitle">
      <!--<span>{{q.user.displayName}}</span>
      <span class="bracket">—</span>-->

      <!-- Answered -->
      <ng-container *ngIf="q.answer">
        <!--<img src="{{q.answer.user.picture}}" alt="{{q.answer.user.displayName}}">-->
        <a routerLink="/user/{{q.answer.user.id}}">
          <span>{{q.answer?.user.displayName}}</span>
        </a>
        <span class="bracket">—</span>
        <span>{{q.answer.creationTime | timeAgo}} yanıtladı</span>
      </ng-container>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>
