:host {
  display: block;
  // padding: 24px 0;
}

h1 {
  font-family: Archivo, sans-serif;
  font-size: 34px;
  font-weight: 500;
  line-height: 48px;
  margin: 32px 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

mat-card {
  background-color: #fff;
}
