:host {
  display: block;
}

header {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  grid-gap: 16px;
  padding: 64px 0;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  line-height: 72px;
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 20px;
  color: var(--icon-color);
  margin: 0;
}

.user-avatar {
  display: inline-block;
  width: 192px;
  height: 192px;
  border-radius: 100%;
  object-fit: cover;
}

@media (prefers-color-scheme: light) {
  .mat-tab-label-active {
    color: #6200EE;
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .mat-tab-label-active {
    color: #BB86FC;
    opacity: 1;
  }
}
