:host {
  display: block;
  position: relative;
}

.copy-code-btn {
  color: #202124;
  opacity: 0;
  position: absolute;
  right: 0;
  margin-right: 16px;
  margin-top: 24px;
}

.code-lang {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px 8px;
  color: var(--medium-emphasis-color);
}

:host:hover .copy-code-btn {
  opacity: 1;
}

::ng-deep blockquote {
  position: relative;
  margin: 0 1em 1.4667em 1em;
  padding: .8em .8em .8em 1em;
}

::ng-deep blockquote:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  border-radius: 8px;
  background: #2f2f2f;
}

pre {
  display: flex !important;
  max-height: 512px;
  font-family: Roboto Mono, monospace;
  // padding: 48px 8px 16px 8px !important;
  padding: 16px 8px 16px 8px !important;
  background-color: var(--code-background) !important;
  // border: 1px solid #dadce0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 8px !important;
  overflow: auto;
  margin: 24px 0;
  border: 1px solid rgba(0, 0, 0, .12);
}
