<h1 mat-dialog-title>Ayarlar</h1>
<div mat-dialog-content>
  <div>
    <!-- Theme select -->
    <form>

      <div class="item">
        <span class="item-title">Tema</span>
        <mat-radio-group value="auto" color="primary" (change)="onChange($event)">
          <mat-radio-button value="auto">Otomatik</mat-radio-button>
          <mat-radio-button value="light">Açık</mat-radio-button>
          <mat-radio-button value="dark">Koyu</mat-radio-button>
        </mat-radio-group>
        <!--<mat-form-field floatLabel="never">
          <mat-label>Favorite food</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food" disableOptionCentering>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>-->
      </div>


    </form>

  </div>
</div>
