<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>Bildirimler</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <mat-nav-list>
        <a mat-list-item>
          <img mat-list-avatar src="https://a.rsg.sc/s/GTAV/n/gtav45.png" alt="..">
          <h3 mat-line>Hello World</h3>
          <p mat-line>
            <span>Olcay Usta</span>
            <span>2 dk önce</span>
          </p>
        </a>
        <a mat-list-item>
          <img mat-list-avatar src="https://resources.tidal.com/images/a13dd93a/c1e6/4503/acbe/f7cecb312f42/320x320.jpg"
               alt="..">
          <h3 mat-line>Hello World</h3>
          <p mat-line>Olcay Usta</p>
        </a>
        <a mat-list-item>
          <img mat-list-avatar src="https://resources.tidal.com/images/ca3e83a7/cf3b/4130/9799/31481043b475/320x320.jpg"
               alt="..">
          <h3 mat-line>Hello World</h3>
          <p mat-line>Olcay Usta</p>
        </a>
        <a mat-list-item>
          <img mat-list-avatar src="https://resources.tidal.com/images/35f05805/5d01/4752/af23/fc53193aadce/320x320.jpg"
               alt="..">
          <h3 mat-line>Hello World</h3>
          <p mat-line>Olcay Usta</p>
        </a>
        <a mat-list-item>
          <img mat-list-avatar src="https://resources.tidal.com/images/35f05805/5d01/4752/af23/fc53193aadce/320x320.jpg"
               alt="..">
          <h3 mat-line>Hello World</h3>
          <p mat-line>Olcay Usta</p>
        </a>
      </mat-nav-list>
    </section>
  </mat-card-content>
</mat-card>

