:host {
  display: block;
  width: 460px;
}

mat-card {
  padding: 16px 0;
  // border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 8px;
}

.mat-card-header {

  // border-bottom: 1px solid rgba(0, 0, 0, .12);
}

mat-card-title {
  font-size: 16px !important;
  font-weight: 400;
  // margin-bottom: 0 !important;
}
