:host {
  display: block;
  width: 496px;
  min-height: 504px;
}

.popup-page {
  background-color: var(--card-background);
  height: 100%;
  max-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  // border-radius: 4px;
  color: var(--text-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2);
  // border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

//.popup-inner-border {
//  height: 100%;
//  border: 1px solid rgba(0, 0, 0, 0.12);
//  border-radius: 8px;
//}

header {
  padding: 20px 16px;
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

mat-nav-list {
  padding-top: 0;
}

section {
  overflow: auto;
}

:host ::ng-deep .mat-list-item-content {
  align-items: flex-start !important;
  padding: 16px !important;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

.secondary-text {
  font-size: 14px;
  line-height: 20px;
}

.time {
  font-size: 13px !important;
}

:host ::ng-deep .mat-list-avatar {
  width: 48px !important;
  height: 48px !important;
}

// Fix menu and select panel overflow scroll bar
section::-webkit-scrollbar, .mat-select-panel::-webkit-scrollbar {
  width: 8px;
}

section::-webkit-scrollbar-thumb, .mat-select-panel::-webkit-scrollbar-thumb {
  background: rgba(95, 99, 104, .45);
  border-radius: 10px;
}

section::-webkit-scrollbar-track, .mat-select-panel::-webkit-scrollbar-track {
  border-radius: 10px;
}

.secondary-text {
  font-size: 13px;
  color: var(--icon-color);
}
