<div class="popup-page">
  <div class="popup-inner-border">
    <header>
      <div class="header-title">Bildirimler</div>
    </header>
    <section>
      <mat-nav-list>
        <a mat-list-item *ngFor="let notification of notifications$  | async">
          <img mat-list-avatar src="{{notification.user.picture}}" alt="{{notification.user.displayName}}">
          <h3 mat-line>{{notification.text}}</h3>
          <p mat-line class="secondary-text">{{notification.user.displayName}}}</p>
          <p mat-line class="secondary-text time">{{notification.creationTime | timeAgo}}</p>
        </a>
      </mat-nav-list>
    </section>
  </div>
</div>
