<div class="filter-by">
  <span class="info-text">Filtre:</span>

  <button class="outlined-menu-button" mat-button [matMenuTriggerFor]="typeMenu">
    <span>{{items[selectedItemIndex].label}}</span>
    <mat-icon fontSet="material-icons-outlined">arrow_drop_down</mat-icon>
  </button>
</div>

<mat-menu #typeMenu="matMenu" class="text-only-menu mat-elevation-z2 filtre-menu">
  <div class="checkbox-item" routerLink="/" [queryParams]="{filters: item.sort ? item.sort : null}"
       queryParamsHandling="merge" (click)="checkboxClicked($event, i)" *ngFor="let item of items; let i = index">
    <mat-checkbox color="primary" [checked]="item.checked">{{item.label}}</mat-checkbox>
  </div>
</mat-menu>
