<div class="search-form" matAutocompleteOrigin #origin="matAutocompleteOrigin">
<!--  <button mat-icon-button aria-label="Example icon-button with search icon">
    <qa-search-icon></qa-search-icon>
  </button>-->
<!--  <qa-search-icon></qa-search-icon>-->
  <input aria-label="Ara" autocomplete="off" spellcheck="false" placeholder="Ara" [formControl]="myControl"
         [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin">
</div>

<mat-autocomplete #auto="matAutocomplete" class="my-autocomplete mat-elevation-z2"
                  (optionSelected)="selectedOption($event)">
  <mat-optgroup label="Sorular">
    <mat-option *ngFor="let option of filteredQuestions | async" [value]="option">
      <span [innerHTML]="option.title | highlightSearch: myControl.value"></span>
    </mat-option>
  </mat-optgroup>
  <div class="autocomplete-action-row">
    <a mat-button color="primary" routerLink="/search/{{myControl.value}}">"{{myControl.value}}" İÇİN TÜM SONUÇLARI GÖSTER</a>
  </div>
</mat-autocomplete>
