<mat-toolbar>
  <button mat-icon-button class="menu-icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<div class="overflow-container scroller" cdkScrollable>
  <mat-nav-list>
    <a mat-list-item routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}"
       (click)="onClicked()">
      <mat-icon fontSet="material-icons-outlined">home</mat-icon>
      <span>Ana sayfa</span>
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/list" (click)="onClicked()">
      <mat-icon fontSet="material-icons-outlined">question_answer</mat-icon>
      <span>Sorularım</span>
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/favorites" (click)="onClicked()">
      <mat-icon fontSet="material-icons-outlined">favorite_border</mat-icon>
      <span>Beğendiğim öğeler</span>
    </a>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <!--<div matSubheader>Sayfalar</div>-->
    <a mat-list-item routerLinkActive="active" routerLink="/users" (click)="onClicked()">
      <mat-icon fontSet="material-icons-outlined">groups</mat-icon>
      <span>Kullanıcılar</span>
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/tags" (click)="onClicked()">
      <mat-icon fontSet="material-icons-outlined">label</mat-icon>
      <span>Etiketler</span>
    </a>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <mat-nav-list>
    <a mat-list-item routerLinkActive="active" (click)="openSettingsDialog()">
      <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
      <span>Hesap & ayarlar</span>
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/help">
      <mat-icon fontSet="material-icons-outlined">help_outline</mat-icon>
      <span>Yardım</span>
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="/feedback">
      <mat-icon fontSet="material-icons-outlined">feedback</mat-icon>
      <span>Geri bildirim gönder</span>
    </a>
  </mat-nav-list>
  <!--
  <mat-divider></mat-divider>
  <mat-nav-list>
    <mat-list-item (click)="logout()">
      <qa-exit-to-app-icon></qa-exit-to-app-icon>
      <span>Oturumu kapat</span>
    </mat-list-item>
  </mat-nav-list>
  -->
</div>

