:host {
  display: block;
}

mat-toolbar {
  background: transparent;
}

mat-toolbar mat-icon {
  color: var(--medium-emphasis-color);
}

.toolbar-title {
  margin-left: 24px;
}

.mat-list-item {
  font-weight: 400;
  color: var(--icon-color);
}

.mat-list-item mat-icon {
  display: none;
}

.mat-list-item span {
  margin-left: 12px;
}

.active {
  // background-color: var(--list-active-background) !important;
  // color: var(--primary-color) !important;
  color: black;
  font-weight: 500;
}

.mat-list-base .mat-subheader {
  margin-top: 0;
  font-weight: 400;
  /* height: auto;
   line-height: 20px;
   margin: 0;
   padding: 8px 16px;*/
  color: var(--medium-emphasis-color);
}

/*::ng-deep .overflow-container::-webkit-scrollbar {
  width: 8px;
}

::ng-deep .overflow-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  // border-radius: 10px;
}

::ng-deep .overflow-container::-webkit-scrollbar-track {
  // border-radius: 10px;
}*/

// Fix menu and select panel overflow scroll bar
/*::ng-deep .mat-select-panel::-webkit-scrollbar {
  width: 12px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  // border-radius: 10px;
}

::ng-deep .mat-select-panel::-webkit-scrollbar-track {
  // border-radius: 10px;
}*/

.menu-icon {
  // margin-left: -8px;
}

.overflow-container {
  height: calc(100vh - 64px);
  overflow: auto;
}

@-moz-document url-prefix() {
  .overflow-container {
    // scrollbar-color: rgba(0, 0, 0, .12) #fff;
    scrollbar-width: thin;
  }
}

//@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
//  /* width */
//  .overflow-container::-webkit-scrollbar {
//    width: 10px;
//  }
//
//  /* Track */
//  .overflow-container::-webkit-scrollbar-track {
//    background: #f1f1f1;
//  }
//
//  /* Handle */
//  .overflow-container::-webkit-scrollbar-thumb {
//    background: #888;
//  }
//
//  /* Handle on hover */
//  .overflow-container::-webkit-scrollbar-thumb:hover {
//    background: #555;
//  }
//}

mat-divider {
  /*  margin: 0 28px;
    width: auto;*/
}

#copyright {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, .54);
  padding: 16px 24px;
}
