<ng-container *ngIf="user">
  <div class="drawer-header">
    <img src="{{user.picture}}" alt="{{user.displayName}}">
    <div class="drawer-top-flex">
      <h6 class="headline">{{user?.displayName}}</h6>
      <span class="body2">{{user?.email}}</span>
    </div>
  </div>
</ng-container>

<mat-nav-list>
  <a mat-list-item routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
    <qa-home-icon></qa-home-icon>
    <span>Ana sayfa</span>
  </a>
  <a mat-list-item routerLinkActive="active" routerLink="/list">
    <qa-question-answer-icon></qa-question-answer-icon>
    <span>Sorularım</span>
  </a>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item routerLinkActive="active" routerLink="/settings">
    <qa-settings-icon></qa-settings-icon>
    <span>Hesap & ayarlar</span>
  </a>
  <a mat-list-item routerLinkActive="active" routerLink="/feedback">
    <qa-feedback-icon></qa-feedback-icon>
    <span>Geri bildirim gönder</span>
  </a>
  <a mat-list-item routerLinkActive="active" routerLink="/help">
    <qa-help-icon></qa-help-icon>
    <span>Yardım</span>
  </a>
</mat-nav-list>
<!--
<mat-divider></mat-divider>
<mat-nav-list>
  <mat-list-item (click)="logout()">
    <qa-exit-to-app-icon></qa-exit-to-app-icon>
    <span>Oturumu kapat</span>
  </mat-list-item>
</mat-nav-list>
-->
