@media (prefers-color-scheme: light) {
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.36);
    // border-radius: 24px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.54);
  }
}
@media (prefers-color-scheme: dark) {
  /* width */
/*  body::-webkit-scrollbar {
    width: 12px;
  }

  !* Track *!
  body::-webkit-scrollbar-track {
    background: #121212;
    border-left: 1px solid rgba(255, 255, 255, 0.12);
  }

  !* Handle *!
  body::-webkit-scrollbar-thumb {
    background: rgb(255 255 255 / 36%);
    // border-radius: 24px;
  }

  !* Handle on hover *!
  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }*/
}
