@import "reset";

@import 'node_modules/@angular/material/theming';

@include mat-core();

/*
  Apple
*/
/*::-webkit-scrollbar {
  width: 12px;
  height: 18px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 100px;
  background-color: gray;
  -webkit-box-shadow: inset -1px -1px 0 rgba(0,0,0,.05), inset 1px 1px 0 rgba(0,0,0,.05);
}*/

html, body {
  height: 100%;
  // scrollbar-color: rgba(0, 0, 0, .24) #eee;
  scrollbar-width: thin;

}

.overflow-container {
  scrollbar-width: thin;
}

.overflow-container::-webkit-scrollbar {
  width: 8px;
}

.overflow-container::-webkit-scrollbar-track {
  background: #e8eae7
}

.overflow-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.24);
  border-right: 1px solid #fff;
}

.overflow-container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.38);
}

/*::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e8eae7
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.24);
  border-right: 1px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.38);
}*/

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  background-color: var(--surface);
  color: var(--color);


  //-webkit-text-size-adjust:100%;
  //-ms-text-size-adjust:100%;
  //-webkit-overflow-scrolling:touch;
  //scroll-behavior:smooth;
  //font-kerning:normal;
  //-webkit-font-kerning:normal;
  //-ms-font-kerning:normal;
  //-moz-font-kerning:normal;
  //-o-font-kerning:normal;
  //font-variant-ligatures:contextual common-ligatures;
  //-webkit-font-variant-ligatures:contextual common-ligatures;
  //-ms-font-variant-ligatures:contextual common-ligatures;
  //-moz-font-variant-ligatures:contextual common-ligatures;
  //-o-font-variant-ligatures:contextual common-ligatures;
  //font-feature-settings:'kern' 1, 'liga' 1, 'calt' 1;
  //font:15px/22px 'Inter', system-ui, sans-serif;
  //font-smoothing:antialiased;
  //-webkit-font-smoothing:antialiased;
  //position:relative
}

mat-sidenav {
  min-height: 100vh;
  background-color: var(--drawer-background) !important;
}

mat-sidenav-content {
  min-height: 100vh;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  // min-height: 100vh;
  // height: 100%;
  // min-height: 100vh;
  // overflow: hidden !important;
}

mat-sidenav-container {
  background-color: var(--surface) !important;
  min-height: 100vh;
  // min-height: 100vh;
  // height: auto !important;
}

mat-sidenav-container {
  //overflow: unset !important;
  // height: calc(100vh) !important;
}

mat-sidenav-content {
  // overflow: unset !important;
  // min-height: 100vh;
}

mat-sidenav-container {
  // flex: 1;
  // overflow: unset !important;
}

mat-sidenav-content {
  z-index: 2 !important;
  // overflow: unset !important;
}

* {
  box-sizing: border-box;
}

.mat-drawer.mat-drawer-end {
  background-color: #fff;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, .32);
}

svg {
  fill: var(--icon-color);
}

.mat-action-row {
  padding: 16px 16px 16px 24px !important;
}

.mat-drawer-container {
  // sbackground-color: #fff;
}

.mat-drawer-container {
  // background-color: #fff !important;
}

// Fix menu and select panel overflow scroll bar
.mat-menu-panel::-webkit-scrollbar, .mat-select-panel::-webkit-scrollbar {
  width: 5px;
}

.mat-menu-panel::-webkit-scrollbar-thumb, .mat-select-panel::-webkit-scrollbar-thumb {
  background: rgba(95, 99, 104, .45);
  border-radius: 10px;
}

.mat-menu-panel::-webkit-scrollbar-track, .mat-select-panel::-webkit-scrollbar-track {
  border-radius: 10px;
}

.mat-menu-panel {
  // margin-top: 8px;
  // border-radius: 8px !important;
}

.filtre-menu .checkbox-item {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 16px;
}

.more-menu {
  width: 256px;
}

.empty {
  padding-left: 40px;
}

.text-only-menu {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.14), 0 3px 14px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.2);
  min-width: 128px !important;
  // border-radius: 0 !important;
  // margin-top: 8px;

  // box-shadow: 0 8px 10px rgba(0, 0, 0, 0.14), 0 3px 14px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.2);
  // border-radius: 4px;

  // box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 5px 5px rgba(0, 0, 0, 0.2);

  .mat-menu-item {
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .25px;
    padding-left: 8px;
    display: flex;
    align-items: center;
  }

  /*  .mat-menu-item.active {
      background-color: #e8f0fe;
    }*/
}

@media (prefers-color-scheme: light) {
  .mat-menu-item.active {
    background-color: #e8f0fe;
  }
}

.small-menu-button-item.mat-menu-item {
  color: #3c4043;
  height: 32px;
  line-height: 32px;
  font-weight: 500;
}

.my-autocomplete {
  // margin-top: 8px;
  // border-radius: 4px !important;
}

.mat-optgroup .mat-option:not(.mat-option-multiple) {
  padding-left: 48px !important;
}

pre {
  scrollbar-color: #80868b rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

/*
  Font
*/
.subtitle-1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .15px;
}

.subtitle-2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: .1px;
}

.body-1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

pre::-webkit-scrollbar, pre[class*='language-']::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

pre::-webkit-scrollbar-thumb, pre[class*='language-']::-webkit-scrollbar-thumb {
  background: #80868b;
  background-clip: padding-box;
  border: 2.5px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

pre::-webkit-scrollbar-track, pre[class*='language-']::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.mat-tooltip {
  // font-size: 12px;
  /* line-height: 16px;
   letter-spacing: .4px;
   color: #fff !important;
   background: rgba(0, 0, 0, 0.6) !important;*/
}
