// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import 'node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-deep-purple: (
  50: #F2E7FE,
  100: #DBB2FF,
  200: #BB86FC,
  300: #985EFF,
  400: #7F39FB,
  500: #6200EE,
  600: #5600E8,
  700: #3700B3,
  800: #30009C,
  900: #23036A,
  A100: #b388ff,
  A200: #7c4dff,
  A400: #651fff,
  A700: #6200ea,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-secondary: (
  50: #C8FFF4,
  100: #70EFDE,
  200: #03DAC5,
  300: #00C4B4,
  400: #00B3A6,
  500: #01A299,
  600: #019592,
  700: #018786,
  800: #017374,
  900: #005457,
  A100: #b388ff,
  A200: #7c4dff,
  A400: #651fff,
  A700: #6200ea,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$soru-cevap-app-primary: mat-palette($mat-deep-purple);
$soru-cevap-app-accent: mat-palette($mat-secondary);

// The warn palette is optional (defaults to red).
$soru-cevap-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$soru-cevap-app-theme: mat-light-theme((
  color: (
    primary: $soru-cevap-app-primary,
    accent: $soru-cevap-app-accent,
    warn: $soru-cevap-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($soru-cevap-app-theme);

.mat-elevation-z2 {
  @include mat-elevation(2);
}

.mat-elevation-z4 {
  @include mat-elevation(4);
}

@include mat-toolbar-theme($soru-cevap-app-theme);
@include mat-sidenav-theme($soru-cevap-app-theme);
@include mat-divider-theme($soru-cevap-app-theme);
@include mat-button-theme($soru-cevap-app-theme);
@include mat-chips-theme($soru-cevap-app-theme);
@include mat-icon-theme($soru-cevap-app-theme);
@include mat-form-field-theme($soru-cevap-app-theme);
@include mat-card-theme($soru-cevap-app-theme);
@include mat-list-theme($soru-cevap-app-theme);
@include mat-progress-bar-theme($soru-cevap-app-theme);
@include mat-progress-spinner-theme($soru-cevap-app-theme);
@include mat-ripple-theme($soru-cevap-app-theme);
@include mat-menu-theme($soru-cevap-app-theme);
@include mat-autocomplete-theme($soru-cevap-app-theme);
@include mat-tabs-theme($soru-cevap-app-theme);
@include mat-snack-bar-theme($soru-cevap-app-theme);
@include mat-expansion-panel-theme($soru-cevap-app-theme);
@include mat-checkbox-theme($soru-cevap-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

mat-sidenav {
  width: 320px;
  content-visibility: layout;
}

mat-nav-list {
  padding-bottom: 8px;
}

.mat-chip {
  // font-size: 13px !important;
  font-weight: 400;
  background-color: #eee
  // border: 1px solid rgba(0, 0, 0, .12) !important;
}

.mat-button {
  padding: 0 8px !important;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  min-height: 100vh;
}

mat-sidenav-container {
  // flex: 1;
  // overflow: unset !important;
}

mat-sidenav-content {
  // z-index: 2 !important;
  // overflow: unset !important;
}

.mat-drawer.mat-drawer-end {
  width: 320px !important;
  background-color: #fff;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0, 0, 0, .32);
}

mat-icon {
  color: rgba(0, 0, 0, 0.6);
}

.mat-action-row {
  padding: 16px 16px 16px 24px !important;
}

.mat-button {
  letter-spacing: 1.25px;
}

.mat-tooltip {
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  background: rgba(0, 0, 0, 0.6);
}

.mat-drawer-container {
  // sbackground-color: #fff;
}

.mat-progress-bar-background {
  fill: #D2BBF4;
}

.mat-progress-bar-buffer {
  background-color: #D2BBF4;
}

.more-menu {
  min-width: 192px !important;
}

.mat-drawer-container {
  // background-color: #fff !important;
}

.mat-snack-bar-container {
  color: #FFFFFF;
  background-color: #121212;
}

.mat-simple-snackbar {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.25px;

  /* 03. On Primary / High Emphasis */
  color: #FFFFFF;
}

// Fix menu and select panel overflow scroll bar
.mat-menu-panel::-webkit-scrollbar, .mat-select-panel::-webkit-scrollbar {
  width: 5px;
}

.mat-menu-panel::-webkit-scrollbar-thumb, .mat-select-panel::-webkit-scrollbar-thumb {
  background: rgba(95,99,104,.45);
  border-radius: 10px;
}

.mat-menu-panel::-webkit-scrollbar-track, .mat-select-panel::-webkit-scrollbar-track {
  border-radius: 10px;
}

.mat-menu-panel {
  // margin-top: 8px;
  border-radius: 8px !important;
}

.small-menu-button-item.mat-menu-item {
  color: #3c4043;
  height: 32px;
  line-height: 32px;
  font-weight: 500;
}
