<button id='avatar-btn' aria-haspopup='true'
        aria-label='Alternatif hesapların listesini açan hesap profil fotoğrafı'
        #avatarElement='cdkOverlayOrigin' cdkOverlayOrigin
        (click)='openUserProfilePopup()'>
  <span class='img-background'>
    <img class='avatar-img' src='{{user.picture}}' alt='{{user.displayName}}' (load)='loaded = true'
         [ngStyle]='{opacity: loaded ? 1 : 0}'>
  </span>
</button>

<ng-template
  cdkConnectedOverlay
  (overlayOutsideClick)='outsideClick()'
  [cdkConnectedOverlayScrollStrategy]='blockScrollStrategy'
  [cdkConnectedOverlayOpen]='popupOpened'
  (detach)='onDetach()'
  [cdkConnectedOverlayOrigin]='avatarElement'>
  <!--<app-user-menu-popup></app-user-menu-popup>-->
  <ng-container [ngComponentOutlet]='ironDropdownOutlet!'></ng-container>
</ng-template>
