:host {
  display: block;
  background-color: #eee;
  border-radius: 50%;
  // opacity: 0;
}

:host[loaded] {
  opacity: 1;
}

.img-shadow {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
