<div class="container">
  <span class="filter-info-text">Sıralama ölçütü:</span>
  <button
    mat-button
    class="outlined-menu-button"
    aria-label="Open sort by order interactions menu"
    [matMenuTriggerFor]="sortMenu"
    (menuClosed)="cdr.markForCheck()"
  >
    <span>{{ items[selectedIndex].label }}</span>
    <mat-icon fontSet="material-icons-outlined">arrow_drop_down</mat-icon>
  </button>
</div>

<mat-menu #sortMenu="matMenu" class="sort-menu">
  <a
    mat-menu-item
    routerLink="/"
    [queryParams]="{ sort: item.sort ? item.sort : null }"
    *ngFor="let item of items; let index = index"
    #menuItem
    (click)="onItemClick(menuItem, index)"
    >{{ item.label }}</a
  >
</mat-menu>
