:host {
  display: block;
}

.container {
  display: flex;
  align-items: center;
}

.info-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 8px;
  white-space: nowrap;
}

button[aria-expanded=true] {
  background-color: rgba(98, 0, 238, 0.12);
  color: #6200EE;

  mat-icon {
    transform: rotate(180deg);
  }
}

mat-icon {
  color: #6200EE;
  margin-right: -4px;
}

.outlined-menu-button {
  // height: 32px;
  // line-height: 32px;
  font-weight: 400;
  text-transform: none;
  padding: 0 8px !important;
  letter-spacing: 0;
}

::ng-deep .sort-menu {
  margin-top: 8px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.14), 0 3px 14px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.2);

  .mat-menu-item {
    height: 32px;
    line-height: 32px;
    padding-left: 8px;
    // letter-spacing: .25px;
  }
}

@media (prefers-color-scheme: light) {
  .mat-menu-item-highlighted {
    background-color: rgba(98, 0, 238, 0.12) !important;
    // background-color: rgba(0, 0, 0, 0.12) !important;
    // color: #6200EE;
    color: #6200EE;
  }
}

@media (prefers-color-scheme: dark) {
  .mat-menu-item-highlighted {
    background-color: rgba(255, 255, 255, 0.12) !important;
    color: #ffffff;
  }
}
