:host {
  display: block;
}

.content {
  margin: 64px 0 0 0;
}

@media (prefers-color-scheme: light) {
  @import "~highlight.js/scss/gradient-dark";
}

@media (prefers-color-scheme: dark) {
  @import "~highlight.js/scss/dark";
}

code, pre {
  font-family: "Roboto Mono", monospace;
}

code {
  // background: rgb(0 0 0 / .02);
  // border: 1px solid rgb(0 0 0 / .04);
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 16px;
  // letter-spacing: .5px;
}

:host {
  a, :link, :visited {
    color: #3740ff;
  }

  a code, td a code {
    color: #3740ff;
  }
}

:not(pre) > code {
  font-size: 13px;
  line-height: 16px;
  white-space: pre-wrap;
  padding: 2px 4px;
  background-color: #e4e6e8;
  border-radius: 4px;
}

@media (max-width: 599px) {
  pre {
    // margin: 0 -24px !important;
    // border-radius: 0 !important;
    // border: 0 !important;
    padding: 8px;
  }
}

pre {
  display: flex !important;
  max-height: 512px;
  font-family: Roboto Mono, monospace;
  // padding: 48px 8px 16px 8px !important;
  padding: 16px 8px 16px 8px !important;
  background-color: var(--code-background) !important;
  // border: 1px solid #dadce0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 8px !important;
  overflow: auto;
  margin: 24px 0;
  border: 1px solid rgba(0, 0, 0, .12);
}
