<mat-toolbar class="mat-elevation-z4 top-bar" idSticky>

  <div id="start">
    <button mat-icon-button aria-label="Example icon-button with menu icon" class="menu-button"
            (click)="openDrawer.emit()">
      <id-menu-icon></id-menu-icon>
    </button>

    <a routerLink="/" class="logo-link">
      <span>İyidev</span>
    </a>
  </div>

  <div id="center">
    <id-search-form></id-search-form>
  </div>

  <div id="end">
    <ng-container *ngIf="isLoggedIn$ | async; else signIn">
      <!--     <button mat-icon-button routerLink="/create" matTooltip="Oluştur">
             <mat-icon>add</mat-icon>
           </button>
     -->
      <button mat-icon-button matTooltip="İncelemeler" hidden>
        <id-rate-review-icon></id-rate-review-icon>
      </button>

      <app-notification-button></app-notification-button>

      <a mat-icon-button class="mobile-show" routerLink="/mobile-search">
        <id-search-icon></id-search-icon>
      </a>

      <!--     <button mat-icon-button class="top-right-btn" matTooltip="Filtrele" (click)="openSheet.emit()">
             <id-filter-list-icon></id-filter-list-icon>
           </button>-->

      <button id="avatar-btn" aria-haspopup="true"
              aria-label="Alternatif hesapların listesini açan hesap profil fotoğrafı"
              #avatarElement="cdkOverlayOrigin" cdkOverlayOrigin
              (click)="openUsermenu()">
        <img class="avatar-img" src="{{user.picture}}" alt="{{user.displayName}}">
      </button>

      <ng-template
        cdkConnectedOverlay
        (overlayOutsideClick)="outsideClick()"
        [cdkConnectedOverlayScrollStrategy]="blockScrollStrategy"
        [cdkConnectedOverlayOpen]="popupOpened && popup == 'avatar'"
        [cdkConnectedOverlayOrigin]="avatarElement">
        <id-user-menu-popup></id-user-menu-popup>
      </ng-template>
    </ng-container>
  </div>

  <!--  <mat-progress-bar mode="indeterminate" *ngIf="spinner$ | async"></mat-progress-bar>-->

</mat-toolbar>

<ng-template #signIn>
  <!--  <button mat-icon-button matTooltip="YouTube uygulamaları">-->
  <!--    <mat-icon>apps</mat-icon>-->
  <!--  </button>-->

  <!-- More things -->
  <button mat-icon-button aria-label="More apps" matTooltip="Diğer şeyler" class="top-right-btn more-vert-icon"
          [matMenuTriggerFor]="moreMenu">
    <id-more-vert-icon></id-more-vert-icon>
  </button>
  <mat-menu #moreMenu="matMenu" xPosition="before" class="text-only-menu mat-elevation-z2 more-menu">
    <ng-template matMenuContent>
      <button mat-menu-item>
        <span>Blog</span>
      </button>
      <button mat-menu-item>
        <span>Sohbetler</span>
      </button>
      <button mat-menu-item>
        <span>Sözlük</span>
      </button>
      <button mat-menu-item>
        <span>Yardım</span>
      </button>
    </ng-template>
  </mat-menu>

  <!-- Search button -->
  <a mat-icon-button class="mobile-show search-btn" routerLink="/mobile-search">
    <id-search-icon></id-search-icon>
  </a>

  <ng-container *ngIf="isHandset">
    <a mat-icon-button routerLink="/login">
      <mat-icon>account_circle</mat-icon>
    </a>
  </ng-container>

  <ng-container *ngIf="!isHandset">
    <a mat-button routerLink="/login">OTURUM AÇ</a>
  </ng-container>
</ng-template>

