<mat-toolbar class="mat-elevation-z4 top-bar" qaSticky>
  <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="openDrawer.emit()">
    <qa-menu-icon></qa-menu-icon>
  </button>
  <a routerLink="/">
    <span class="toolbar-title">İyidev</span>
<!--    <sup>beta</sup>-->
  </a>

  <span class="flex-spacer"></span>

  <!--  <qa-search-form></qa-search-form>-->

  <!-- Search Form -->
  <ng-container [ngComponentOutlet]="searchFormComponent"></ng-container>

  <span class="flex-spacer"></span>
  <ng-container *ngIf="isLoggedIn$ | async; else signIn">

    <a mat-icon-button routerLink="/notifications" *ngIf="isHandset">
      <qa-notifications-icon></qa-notifications-icon>
    </a>

    <ng-container *ngIf="!isHandset">
      <button mat-icon-button class="top-right-btn notification-button" matTooltip="Bildirimler"
              #notificationElement="cdkOverlayOrigin"
              cdkOverlayOrigin
              (click)="openNotifications()">
        <qa-notifications-icon matBadge="{{notificationCount | async}}"
                               [matBadgeHidden]="(notificationCount | async) === 0"></qa-notifications-icon>
      </button>

      <ng-template
        cdkConnectedOverlay
        (overlayOutsideClick)="outsideClick()"
        [cdkConnectedOverlayScrollStrategy]="blockScrollStrategy"
        [cdkConnectedOverlayOpen]="popupOpened && popup == 'notification'"
        [cdkConnectedOverlayOrigin]="notificationElement">
        <ng-container [ngComponentOutlet]="compOutlet"></ng-container>
      </ng-template>
    </ng-container>


    <!--    <button mat-icon-button class="top-right-btn" matTooltip="Filtrele" (click)="openSheet.emit()">
          <mat-icon>filter_list</mat-icon>
        </button>-->

    <button mat-icon-button class="search-icon">
      <qa-search-icon></qa-search-icon>
    </button>

    <button mat-icon-button matTooltip="Diğer" class="top-right-btn more-vert-icon"
            [matMenuTriggerFor]="moreMenu">
      <qa-more-vert-icon></qa-more-vert-icon>
    </button>

    <button class="avatar-button" #avatarElement="cdkOverlayOrigin" cdkOverlayOrigin matTooltip="{{user.displayName}}"
            (click)="openUsermenu()">
      <img class="avatar-img" src="assets/images/Avatar.jpg" alt="{{user.displayName}}">
    </button>

    <mat-menu #moreMenu="matMenu" xPosition="before" class="text-only-menu">
      <ng-template matMenuContent>
        <button mat-menu-item>
          <span>Blog</span>
        </button>
        <button mat-menu-item>
          <span>Chat <sup>beta</sup></span>
        </button>
        <button mat-menu-item>
          <span>Hesap & ayarlar</span>
        </button>
        <button mat-menu-item>
          <span>Yardım</span>
        </button>
      </ng-template>
    </mat-menu>

    <ng-template
      cdkConnectedOverlay
      (overlayOutsideClick)="outsideClick()"
      [cdkConnectedOverlayScrollStrategy]="blockScrollStrategy"
      [cdkConnectedOverlayOpen]="popupOpened && popup == 'avatar'"
      [cdkConnectedOverlayOrigin]="avatarElement">
      <ng-container [ngComponentOutlet]="compOutlet2"></ng-container>
    </ng-template>
  </ng-container>
</mat-toolbar>

<ng-template #signIn>
  <a mat-button routerLink="/login">OTURUM AÇ</a>
</ng-template>

