<mat-toolbar class="mat-elevation-z4 top-bar" appSticky>
  <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="openDrawer.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/">
    <span class="toolbar-title">iyidev</span>
    <sup>beta1</sup>
  </a>
  <span class="flex-spacer"></span>
  <qa-search-form></qa-search-form>
  <span class="flex-spacer"></span>
  <ng-container *ngIf="isLoggedIn$ | async; else signIn">

    <!--  <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>-->

    <button mat-icon-button class="top-right-btn notification-icon" matTooltip="Bildirimler"
            #notificationElement="cdkOverlayOrigin"
            cdkOverlayOrigin
            (click)="popupOpened = !popupOpened; popup = 'notification'">
      <mat-icon>notifications</mat-icon>
    </button>

    <!--<button class="avatar-button" #avatarElement="cdkOverlayOrigin" cdkOverlayOrigin
            (click)="popupOpened = !popupOpened; popup = 'avatar'">
      <img class="avatar-img" src="{{user.picture}}">
    </button>-->

    <!--    <button mat-icon-button class="top-right-btn" matTooltip="Filtrele" (click)="openSheet.emit()">
          <mat-icon>filter_list</mat-icon>
        </button>-->

    <button mat-icon-button class="search-icon">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Diğer" class="top-right-btn last-btn more-vert-icon"
            [matMenuTriggerFor]="moreMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <button class="avatar-button" #avatarElement="cdkOverlayOrigin" cdkOverlayOrigin
            (click)="popupOpened = !popupOpened; popup = 'avatar'">
      <img class="avatar-img" src="{{user.picture}}">
    </button>

    <mat-menu #moreMenu="matMenu">
      <button mat-menu-item class="small-menu-button-item">
        <span>Blog</span>
      </button>
      <button mat-menu-item class="small-menu-button-item">
        <span>Chat - BETA</span>
      </button>
      <!--  <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Hesap & ayarlar</span>
        </button>
        <button mat-menu-item>
          <mat-icon>help</mat-icon>
          <span>Yardım</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Oturumu kapat</span>
        </button>-->
    </mat-menu>

    <ng-template
      cdkConnectedOverlay
      (overlayOutsideClick)="outsideClick()"
      [cdkConnectedOverlayOpen]="popupOpened && popup == 'notification'"
      [cdkConnectedOverlayOrigin]="notificationElement">
      <qa-notification-list-popup></qa-notification-list-popup>
    </ng-template>

    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOpen]="popupOpened && popup == 'avatar'"
      [cdkConnectedOverlayOrigin]="avatarElement">
      <qa-user-menu-popup></qa-user-menu-popup>
    </ng-template>
  </ng-container>
</mat-toolbar>

<ng-template #signIn>
  <a mat-button color="primary" routerLink="/login">
    OTURUM AÇ
  </a>
</ng-template>

